/* Roboto font styles*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body {
  font-family: 'Roboto', sans-serif;
}

a, a:focus, a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: block;
}

/*main styles*/
.top-wrapper {
  padding: 0px 0 30px;
}

.top-wrapper .banner-image {
  text-align: center;
}

.top-wrapper .banner-image img {
  width: 100%;
}

.top-wrapper .banner-tabpanel {
  margin-top: 30px;
}

.navbar-brand {
  height: auto;
  padding: 0;
  width: 130px;
}

.navbar-brand > img {
  height: 100%;
  padding: 20px 10px;
  width: 100%;
}

#menuToggle {
  position: relative;
  top: 30px;
  float: left;
  width: 45px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
   * Just a quick hamburger
   */
#menuToggle span {
  display: block;
  width: 45px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #5A3471;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(3) {
  width: 35px;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  width: 28px;
}

/* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
  width: 30px;
}

/*
   * But let's hide the middle one.
   */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

/*
   * Ohyeah and the last one should go the other direction
   */
#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
  width: 30px;
  background: #fff;
}

/*
   * Make this absolute positioned
   * at the top left of the screen
   */
#menu {
  position: absolute;
  width: 320px;
  padding: 50px 70px;
  top: -25px;
  left: -25px;
  background: #65617D;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  display: none;
  opacity: 0;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#menu li {
  margin: 30px 0px;
}

#menu li a {
  color: #F7F5F4;
  font-size: 18px;
  display: block;
}

/*
   * And let's slide it in from the left
   */
#menuToggle input:checked ~ #menu {
  left: -25px;
}

#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  display: block;
  -webkit-animation: fadein 0.5s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 0.5s;
}

.navbar-nav li a {
  font-size: 14px;
  text-transform: uppercase;
  color: #18131D;
  font-weight: 700;
}

.nav > li > a:focus, .nav > li > a:hover {
  background: none;
}

.top-btn {
  padding: 10px 18px;
  text-transform: uppercase;
  font-size: 12px;
  color: #000;
  font-weight: 700;
  background: none;
  float: right;
  margin-top: 23px;
  position: relative;
  overflow: hidden;
}

.top-btn:hover, .top-btn:focus {
  color: #000;
}

/*tab styles*/
.nav-tabs {
  border-bottom: none;
}

.nav-tabs li {
  margin-right: 20px;
}

.nav-tabs li > a {
  font-size: 11px;
  font-weight: 700;
  color: #636262 !important;
  border-radius: 0;
  padding: 10px 0 !important;
  position: relative;
}

.nav-tabs li > a:hover {
  border: 1px solid transparent;
}

.nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
  background: none;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #000000 !important;
}

.nav-tabs li.active:after {
  height: 5px;
  background: #FF5B4A;
  border-radius: 20px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -5px;
  content: '';
}

.search-wrap {
  background: #fff;
  border-radius: 0px;
  margin: 40px 0;
  position: relative;
  border: 1px solid #FF6347;
}

.search-wrap input {
  border: none;
  color: #B9B8B7;
  font-size: 14px;
  width: 100%;
  vertical-align: middle;
  background: none;
  padding: 15px 20px;
}

.search-wrap input:focus {
  outline: none;
}

.search-wrap .search-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #65617D;
  border-radius: 25px;
  vertical-align: middle;
  position: absolute;
  top: 11px;
  right: 20px;
  text-align: center;
  padding: 4px;
}

.search-wrap .search-btn img {
  width: 16px;
  height: 16px;
}

.lg-title {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  font-family: 'Nunito', sans-serif;
}

.sub-txt {
  font-size: 10px;
  color: #65617D;
  position: relative;
}

.sub-txt span {
  padding: 0 5px;
  display: inline-block;
  position: relative;
}

.sub-txt span:first-child {
  padding-left: 0;
}

.sub-txt span:last-child:after {
  display: none;
}

.sub-txt span:after {
  height: 10px;
  background: #65617D;
  content: '';
  width: 1px;
  display: inline-block;
  position: absolute;
  top: 2px;
  right: -3px;
}

.amenities {
  margin-top: 60px;
}

.amenities img {
  margin-bottom: 15px;
}

.amenities .amenities-name {
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: #000;
  line-height: 16px;
}

.amenities .mobile {
  display: inline-block;
}

.amenities .desktop {
  display: none;
}

section {
  padding: 30px 0;
}

.title-2 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  font-family: 'Nunito', sans-serif;
}

.title-2 a {
  font-weight: 400;
  font-size: 16px !important;
  color: #6C6C6C;
  font-size: 24px;
  margin-left: 20px;
}

.products-list {
  margin-top: 40px;
}

.products-list .prod-wrap {
  min-height: 145px;
  text-align: center;
  display: block;
}

.products-list .prod-wrap img {
  min-height: 130px;
  max-height: 130px;
}

.product-txt-wrap {
  text-align: center;
  margin-top: 30px;
  display: block;
}

.product-txt-wrap h3.prod-name {
  font-size: 19px;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  font-family: 'Nunito', sans-serif;
}

.product-txt-wrap .price {
  margin-bottom: 10px;
}

.product-txt-wrap .price .strike-price {
  font-size: 14px;
  font-style: italic;
  color: #A0A0A0;
  font-weight: 400;
  margin-right: 10px;
  text-decoration: line-through;
}

.product-txt-wrap .price span {
  font-size: 14px;
  font-weight: 700;
  color: #FF6347;
}

.product-txt-wrap .prod-desc {
  font-size: 12px;
  color: #414140;
}

/*owl carousel*/
.owl-carousel .owl-item img {
  width: auto;
  display: inline;
}

.owl-carousel {
  position: relative;
}

.owl-dots {
  position: absolute;
  top: -80px;
  right: 0;
}

.owl-theme .owl-dots .owl-dot span {
  width: 26px;
  height: 2px;
  border-radius: 11px;
  background: #E6E6E6;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #FF6347;
}

.services-list {
  margin-top: 30px;
}

.services-list li {
  text-align: center;
  padding-top: 40px;
}

.services-list li img {
  margin-bottom: 20px;
  width: 100%;
}

.services-list li a {
  display: block;
}

.services-list li .services-txt {
  font-size: 16px;
  font-weight: 700;
  color: #414140;
  display: block;
}

.label-list {
  margin: 60px 0;
}

.label-list a {
  margin-bottom: 20px;
  display: inline-block;
  border-radius: 39px;
  border: 1px solid #C3C3C3;
  padding: 10px 20px;
  color: #000000;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  margin-right: 10px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.label-list a:hover, .label-list a:focus, .label-list a.active {
  background: #F7F5F4;
}

.label-list .more-btn, .label-list .more-btn:hover, .label-list .more-btn:focus {
  background: #65617D;
  color: #fff;
}

.breadcrumb {
  background: none;
  margin-top: -20px;
  padding: 8px 0;
}

.breadcrumb li a {
  color: #707070;
  font-size: 13px;
  text-decoration: underline;
}

.breadcrumb > li + li:before {
  content: '>';
  color: #707070;
}

.header .search-wrap {
  float: left;
  margin: 20px 0;
  border: 1px solid #D3D3D3;
  width: 100%;
  background: #F7F5F4;
}

.header .search-wrap input {
  padding: 10px 20px;
}

.header .search-wrap .search-btn {
  top: 5px;
  right: 10px;
}

.search-list-wrap .search-txt {
  font-size: 16px;
  color: #000;
  margin-bottom: 20px;
}

.search-list-wrap .search-list li {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  padding: 25px;
  border: 1px solid #D6D6D6;
  overflow: hidden;
  margin-bottom: 20px;
}

.search-list-wrap .search-list li:hover {
  background: #F7F5F4;
  -webkit-box-shadow: 0 6px 8px #00000017;
          box-shadow: 0 6px 8px #00000017;
}

.search-list-wrap .search-list li span {
  display: block;
  text-align: center;
}

.search-list-wrap .search-list li img {
  margin-bottom: 20px;
}

.search-list-wrap .search-list li .list-heading {
  font-size: 20px;
  color: #000;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 5px;
}

.search-list-wrap .search-list li .list-sub-heading {
  font-size: 14px;
  color: #2B2B2B;
  margin-bottom: 20px;
}

.search-list-wrap .search-list li p {
  color: #707070;
  font-size: 14px;
}

.search-list-wrap .search-list li .sm-txt {
  font-size: 13px;
  color: #707070;
}

.search-list-wrap .search-list li .primary-btn {
  margin-top: 50px;
}

.primary-btn, .primary-btn:hover, .primary-btn:focus {
  font-size: 14px;
  color: #fff;
  background: #67D88D;
  padding: 10px 20px;
  display: inline-block;
  font-weight: 700;
  border-radius: 8px;
}

.pagination {
  vertical-align: middle;
  margin-left: 20px;
}

.pagination li a {
  border: 1px solid #707070;
  padding: 3px 8px;
  font-size: 14px;
  color: #000;
  margin: 0 3px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.pagination li a.active {
  color: #FF6347;
}

.pagination li a:hover, .pagination li a:focus {
  color: #FF6347;
  background: none;
  border: 1px solid #707070;
}

.pagination li span {
  padding: 3px 8px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-radius: 0;
  margin-right: 3px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-radius: 0;
}

.pagination-txt {
  vertical-align: middle;
}

.primary-modal .modal-content {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#faeae2), color-stop(#fcded1), color-stop(#fed3c0), color-stop(#ffb99d), color-stop(#ff9d7d), to(#ff7e62));
  background-image: linear-gradient(to right bottom, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #faeae2, #fcded1, #fed3c0, #ffb99d, #ff9d7d, #ff7e62);
  min-height: 400px;
  border-radius: 0;
  padding: 60px 40px;
}

.otp-wrapper {
  text-align: center;
}

.login-wrap .login-img-wrap img {
  width: 100%;
}

.login-wrap .login-title {
  font-size: 18px;
  color: #000;
  font-weight: bold;
  margin-bottom: 10px;
}

.login-wrap p {
  font-size: 14px;
  color: #040429;
}

.login-wrap .login-field {
  padding: 15px;
  border: 2px solid #FF5B4A;
  width: 100%;
  margin-bottom: 15px;
}

.login-wrap .login-btn-wrap {
  font-size: 11px;
  color: #040429;
  overflow: hidden;
  text-align: center;
}

.login-wrap .login-btn-wrap span, .login-wrap .login-btn-wrap a {
  display: block;
}

.login-wrap .login-btn-wrap span {
  padding-top: 15px;
  margin-bottom: 15px;
}

.login-wrap .login-btn-wrap .login-btn {
  margin-bottom: 15px;
}

.login-wrap .link-blue {
  font-size: 13px;
  color: #3E3EFF;
  text-decoration: underline;
  font-weight: 700;
  float: right;
}

.login-wrap .note-txt {
  font-size: 11px;
  color: #5F5B5B;
  margin-top: 30px;
}

.login-wrap .otp-fields-wrap {
  margin-top: 20px;
}

.login-wrap .otp-field {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 20px;
}

.secondary-btn, .secondary-btn:hover, .secondary-btn:focus {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  background: #FF5B4A;
  border-radius: 8px;
  text-align: center;
}

.pt-15 {
  padding-top: 15px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-5 {
  padding-top: 5px;
}

.mt-20 {
  margin-top: 20px;
}

.ml-100 {
  margin-left: 100px;
}

.otp-wrap {
  text-align: center;
}

.login-success-msg {
  font-size: 25px;
  font-weight: 500;
  color: #3F3D56;
  margin-top: 25px;
}

.login-msg-wrap {
  margin-top: 50px;
}

.verify-btn {
  margin-top: 15px;
}

.fgt-pwd-link {
  text-align: center;
}

.fgt-pwd-link span {
  font-size: 12px;
}

.user-info {
  display: block;
  margin: 20px 0;
  background: url(../images/down-arrow.svg) no-repeat right 85%;
}

.user-info > span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.user-info .avatar {
  width: 60px;
  height: 60px;
}

.user-info .avatar img {
  width: 100%;
}

.user-info .welcome-txt {
  color: #FF5B4A;
  font-size: 25px;
  font-family: Nunito;
  display: block;
}

.user-info .avatar-name {
  font-size: 28px;
  color: #000;
  font-family: Nunito;
}

.dropdown-menu {
  width: 342px;
  left: 0px;
  padding: 0 30px 30px;
  border-radius: 0;
  border: 1px solid #D6D6D6;
  top: 90%;
}

.dropdown-menu .dropdown-item {
  display: block;
  margin-top: 20px;
  color: #65617D;
  font-size: 22px;
  font-weight: 500;
  padding: 10px 50px;
}

.dropdown-menu .profile {
  background: url(../images/profile-details.svg) no-repeat left center;
}

.dropdown-menu .orders {
  background: url(../images//order-details.svg) no-repeat left center;
}

.dropdown-menu .address {
  background: url(../images/address.svg) no-repeat left center;
}

.dropdown-menu .logout {
  background: url(../images/logout.svg) no-repeat left center;
}

.inner-content-wrap {
  margin: 0 auto;
}

.school-list-item {
  border: 1px solid #D6D6D6;
  border-radius: 28px;
  padding: 20px 20px 0;
  margin-bottom: 30px;
  text-align: center;
  width: 99%;
}

.school-list-item .top-section {
  display: block;
  width: 100%;
}

.school-list-item .top-section > div {
  display: block;
  padding-right: 0px;
}

.school-list-item .top-section .code {
  color: #F75842;
  font-size: 18px;
  display: block;
  text-align: center;
  font-family: Nunito;
  font-weight: 600;
  margin: 15px 0;
}

.school-list-item .top-section .school-name {
  font-size: 24px;
  color: #18131D;
  font-weight: 600;
  display: block;
  font-family: Nunito;
}

.school-list-item .top-section .address-txt {
  font-size: 14px;
  color: #979797;
}

.school-list-item .btm-section {
  padding: 20px 0 10px;
}

.school-list-item .student-name {
  color: #000000;
  font-size: 24px;
  margin: 20px 0 0;
  font-family: Nunito;
  font-weight: 600;
}

.school-list-item .grade {
  font-size: 14px;
  color: #8D8D8D;
  font-weight: 500;
  display: block;
  margin-bottom: 20px;
}

.school-list-carousel {
  margin: 30px 0 100px;
}

.school-list-carousel .owl-dots {
  top: auto;
  bottom: -60px;
}

.mb-100 {
  margin-bottom: 100px;
}

.form-control {
  border: 1px solid #8D8D8D;
  border-radius: 5px;
  color: #B9B8B7;
  font-size: 14px;
  padding: 15px 10px;
  height: auto;
}

.signup-link {
  font-size: 18px;
  font-weight: 700;
  color: #FF5B4A;
  margin: 20px 0;
}

.signup-link a {
  color: #FF5B4A;
  text-decoration: underline;
}

.simple-text {
  font-size: 16px;
  color: #5F5B5B;
}

.strong {
  font-weight: 700;
}

.login-wrap {
  padding: 40px 0;
}

.mt-40 {
  margin-top: 40px;
}

.terms-condition {
  margin: 30px 0;
}

.terms-condition li {
  text-align: left;
  margin-bottom: 10px;
  color: #5F5B5B;
}

.resend-otp {
  font-size: 14px;
  color: #3E3EFF;
  text-decoration: underline;
  font-weight: 700;
  padding-top: 15px;
}

.inline-block {
  display: inline-block;
}

.bag-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.alert-info {
  margin-top: 30px;
  margin-bottom: 30px;
  background: #F2F3F7;
  border-radius: 8px;
  border: 1px solid #C3C3C3;
  font-size: 20px;
  color: #18131D;
  padding: 20px 40px;
}

.alert-info a {
  font-weight: 500;
  color: #08AAE0;
}

.main-title {
  font-size: 30px;
  font-weight: 500;
  color: #18131D;
}

.marTB20 {
  margin: 20px 0;
}

.marTB30 {
  margin: 30px 0;
}

.mb-20 {
  margin-bottom: 20px;
}

.chat-icon {
  width: 20px;
  margin-right: 10px;
}

.phone-icon {
  width: 20px;
}

.numberTxt {
  font-size: 32px;
  font-weight: 700;
  vertical-align: middle;
}

.back-to-link, .back-to-link:hover, .back-to-link:focus {
  background: url(../images/back-arrow.svg) no-repeat left center;
  padding-left: 50px;
  font-size: 32px;
  font-family: Nunito;
  color: #000;
  vertical-align: middle;
}

.switch-dd {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
}

.switch-dd > a {
  font-size: 18px;
  color: #65617D;
  display: block;
  background: url(../images/down-arrow.svg) no-repeat right center;
  padding-right: 30px;
}

.switch-dd .dropdown-menu {
  left: -10px;
  padding: 0;
}

.switch-dd .dropdown-menu a {
  padding: 15px 10px;
  font-size: 18px;
  margin: 0;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.switch-dd .dropdown-menu a:hover {
  background: #656165;
  color: #fff;
}

.top-action-items {
  margin-bottom: 30px;
}

.list-grid-wrap {
  float: right;
  margin-top: 10px;
}

.list-grid-wrap a {
  margin-left: 20px;
  vertical-align: middle;
  display: inline-block;
}

.list-grid-wrap a svg g, .list-grid-wrap a svg path {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.list-grid-wrap a:hover svg g, .list-grid-wrap a:focus svg g, .list-grid-wrap a.active svg g {
  stroke: #FF6347;
}

.list-grid-wrap a:hover svg path, .list-grid-wrap a:focus svg path, .list-grid-wrap a.active svg path {
  stroke: #FF6347;
}

.filter-dd-wrap {
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  position: relative;
}

.filter-dd-wrap > a {
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  padding: 5px 10px;
  display: block;
  font-weight: 700;
  background: url(../images/plus-icon.svg) no-repeat 98% center;
}

.filter-dd-wrap .dropdown-menu {
  left: 0;
  padding: 20px 0;
  position: absolute;
}

.filter-dd-wrap .dropdown-menu ul {
  padding: 0 20px;
}

.filter-dd-wrap .dropdown-menu ul li {
  margin-bottom: 10px;
}

.filter-dd-wrap .dropdown-menu ul li a {
  font-size: 22px;
  color: #65617D;
  margin-bottom: 10px;
  font-weight: 500;
}

.filter-dd-wrap .dropdown-menu .custom-scroll {
  height: 250px;
  overflow-y: auto !important;
}

.products-wrap {
  padding: 40px 0;
}

.prod-image {
  text-align: center;
  display: block;
  width: 220px;
  height: 220px;
  margin: 0 auto;
}

.prod-image img {
  width: 100%;
}

.like-txt {
  font-size: 20px;
  color: #414140;
  font-weight: 700;
}

.like-txt .like {
  background: url(../images/like-default.png) no-repeat center center;
  display: inline-block;
  width: 20px;
  height: 18px;
  vertical-align: middle;
  margin-right: 10px;
}

.like-txt .like.active {
  background: url(../images/like-active.png) no-repeat center center;
}

.mt-0 {
  margin-top: 0;
}

.offer-txt {
  width: 40px;
  height: 40px;
  background: #FFDE26;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  padding: 8px;
  vertical-align: middle;
  line-height: 12px;
  margin-left: 10px;
}

.availabilty-txt {
  font-size: 22px;
  font-weight: 500;
  color: #FF5B4A;
  margin-top: 10px;
  text-align: center;
  font-family: Nunito;
}

.no-stock {
  color: #979797;
}

.prod-list li {
  margin-bottom: 40px;
  height: 420px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  border-radius: 10px !important;
  background: #FF5B4A !important;
}

.mCSB_scrollTools .mCSB_draggerRail {
  background: none;
}

footer {
  background: #D0CFD8;
  padding: 50px 0 20px;
}

footer div {
  text-align: center;
}

footer .col-half-offset {
  margin-left: 4.166666667%;
}

footer .footer-heading {
  font-size: 17px;
  font-weight: 700;
  color: #000;
}

footer .footer-links li {
  margin-bottom: 5px;
}

footer .footer-links a {
  font-size: 15px;
  color: #000000;
  font-weight: 400;
}

footer .social-links {
  margin: 20px 0;
}

footer .social-links a {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: middle;
}

footer .social-links .facebook {
  background-image: url(../images/facebook.svg);
}

footer .social-links .whatsapp {
  background-image: url(../images/whatsapp.svg);
}

footer .social-links .youtube {
  background-image: url(../images/youtube.svg);
}

footer .social-links .googleplus {
  background-image: url(../images/google-plus.svg);
}

footer .social-links .twitter {
  background-image: url(../images/twitter.svg);
}

footer .social-links .f-like {
  background-image: url(../images/f-like.svg);
  width: 71px;
  margin-left: 15px;
  background-size: contain;
}

footer .social-links .f-share {
  background-image: url(../images/f-share.svg);
  width: 76px;
  background-size: contain;
}

footer .social-links .fb-txt {
  font-size: 13px;
  font-weight: 700;
  color: #000;
  margin-top: 20px;
  display: inline-block;
}

footer .copy-right {
  border-top: 1px solid #65617D;
  margin-top: 30px;
  text-align: center;
  font-size: 17px;
  color: #65617D;
  font-weight: 500;
  padding: 20px 0;
  position: relative;
}

footer .copy-right .footer-img-wrap {
  display: block;
  text-align: center;
  margin-top: 20px;
}

footer .copy-right .footer-img-wrap span {
  width: 60px;
  height: 40px;
  display: inline-block;
}

footer .copy-right .ae {
  background: url(../images/ae.svg) no-repeat center center/contain;
}

footer .copy-right .master {
  background: url(../images/master.svg) no-repeat center center/contain;
}

footer .copy-right .visa {
  background: url(../images/visa.svg) no-repeat center center/contain;
}

footer .copy-right .paypal {
  background: url(../images/paypal.svg) no-repeat center center/contain;
}

.full-width {
  width: 100%;
}

/*@desktop*/
@media (min-width: 768px) {
  .desktop-only {
    display: block;
  }
  .mobile-only {
    display: none;
  }
  .top-wrapper {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#faeae2), color-stop(#fcded1), color-stop(#fed3c0), color-stop(#ffb99d), color-stop(#ff9d7d), to(#ff7e62));
    background-image: linear-gradient(to right bottom, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #faeae2, #fcded1, #fed3c0, #ffb99d, #ff9d7d, #ff7e62);
  }
  #menu {
    width: 400px;
  }
  .navbar-brand {
    width: auto;
  }
  .navbar-brand > img {
    padding: 15px 30px;
  }
  .navbar {
    margin-bottom: 30px;
  }
  .navbar-collapse {
    padding-right: 0;
    padding: 20px 0;
  }
  .nav > li > a {
    padding: 10px 20px;
  }
  .nav-tabs li > a {
    font-size: 16px;
  }
  .top-btn {
    margin-left: 40px;
    font-size: 14px;
    margin-top: 1px;
  }
  .banner-image {
    text-align: right;
  }
  .search-wrap {
    border: none;
    border-radius: 22px;
  }
  .lg-title {
    font-size: 40px;
    text-align: left;
  }
  .sub-txt {
    font-size: 18px;
  }
  .sub-txt span {
    padding: 0 20px;
  }
  .sub-txt span:after {
    height: 17px;
    top: 3px;
    right: -5px;
  }
  .amenities img {
    min-height: 110px;
    width: auto;
  }
  .amenities .amenities-name {
    font-size: 17px;
  }
  .amenities .mobile {
    display: none;
  }
  .amenities .desktop {
    display: inline-block;
  }
  .title-2 {
    font-size: 28px;
  }
  .title-2 a {
    font-size: 22px !important;
  }
  .services-list li {
    height: 300px;
  }
  .services-list li:nth-child(even) {
    background: #FAFAFA;
    border-right: 1px solid #D1CCCC;
  }
  .services-list li:nth-child(odd) {
    border-right: 1px solid #D1CCCC;
  }
  .services-list li:nth-child(1), .services-list li:nth-child(2), .services-list li:nth-child(3) {
    border-bottom: 1px solid #D1CCCC;
  }
  .services-list li:nth-child(3), .services-list li:nth-child(6) {
    border-right: none;
  }
  .services-list li img {
    margin-bottom: 25px;
    width: auto;
  }
  .prod-wrap {
    background: url(../images/product-bg.svg) no-repeat center center/contain;
  }
  footer div {
    text-align: left;
  }
  footer .fb-txt {
    margin-top: 0;
  }
  footer .services-txt {
    font-size: 20px;
  }
  footer .copy-right {
    overflow: hidden;
  }
  footer .copy-right .footer-img-wrap {
    position: absolute;
    right: 0;
    top: -10px;
  }
  .main-content {
    width: 85%;
    margin: auto;
  }
  .header .search-wrap {
    width: 30%;
  }
  .search-list-wrap .search-list li img {
    margin-bottom: 0;
    width: 100%;
  }
  .search-list-wrap .search-list li span {
    text-align: left;
  }
  .primary-modal .modal-content {
    width: 700px;
  }
  .login-wrap .login-img-wrap {
    margin-top: 35px;
  }
  .login-wrap .login-img-wrap img {
    width: auto;
  }
  .login-wrap .login-btn-wrap {
    text-align: left;
  }
  .login-wrap .login-btn-wrap a, .login-wrap .login-btn-wrap span {
    display: inline-block;
    vertical-align: middle;
  }
  .otp-wrap {
    text-align: left;
  }
  .fgt-pwd-link {
    text-align: left;
  }
  .otp-wrapper {
    text-align: left;
  }
  .resend-otp {
    margin-right: 95px;
  }
  .user-info {
    display: inline-block;
    padding-right: 20px;
  }
  .user-info .avatar {
    width: 75px;
    height: 75px;
    margin-right: 30px;
  }
  .school-list-item {
    border-radius: 28px;
    padding: 20px 20px 0;
    margin-bottom: 0px;
    width: 100%;
  }
  .school-list-item .top-section {
    display: table;
    width: 100%;
  }
  .school-list-item .top-section > div {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
  }
  .school-list-item .btm-section {
    padding: 20px 0 10px;
  }
  .school-list-item .student-name {
    color: #000000;
    font-size: 24px;
    margin: 20px 0 0;
    font-family: Nunito;
    font-weight: 600;
  }
  .school-list-item .grade {
    font-size: 14px;
    color: #8D8D8D;
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
  }
  .school-list-item .top-section .code {
    text-align: right;
    margin: 0;
  }
  .dropdown-menu {
    left: 108px;
  }
  .sm-container {
    width: 80%;
  }
  .autoContainer {
    margin-left: auto;
    margin-right: auto;
  }
  /* @dekstop end*/
}

/*@tab*/
@media (min-width: 768px) and (max-width: 991px) {
  .services-list li img {
    max-width: 100%;
  }
}

.anim-btn:before, .anim-btn:after {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #252525;
}

.anim-btn:before {
  top: 0;
}

.anim-btn:after {
  bottom: 0;
}

.anim-btn:hover > * > *:before, .anim-btn:hover > * > *:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.anim-btn:hover > * > * > *:before, .anim-btn:hover > * > * > *:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.anim-btn > *:before, .anim-btn > *:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #252525;
}

.anim-btn > *:before {
  left: 0;
}

.anim-btn > *:after {
  right: 0;
}

.anim-btn > * > *:before, .anim-btn > * > *:after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 9;
  height: 2px;
  width: 100%;
  background-color: #FF6347;
}

.anim-btn > * > *:before {
  top: 0;
  -webkit-transform: translate3d(-105%, 0, 0);
  transform: translate3d(-105%, 0, 0);
  transition: -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.anim-btn > * > *:after {
  bottom: 0;
  -webkit-transform: translate3d(105%, 0, 0);
  transform: translate3d(105%, 0, 0);
  transition: -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.anim-btn > * > * > *:before, .anim-btn > * > * > *:after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 9;
  height: 100%;
  width: 2px;
  background-color: #FF6347;
}

.anim-btn > * > * > *:before {
  left: 0;
  -webkit-transform: translate3d(0, 105%, 0);
  transform: translate3d(0, 105%, 0);
  transition: -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.anim-btn > * > * > *:after {
  right: 0;
  -webkit-transform: translate3d(0, -105%, 0);
  transform: translate3d(0, -105%, 0);
  transition: -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Customize the label (the container) */
.custom-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #cdcdcd;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.custom-check:hover input ~ .checkmark {
  background-color: #cdcdcd;
}

/* When the checkbox is checked, add a blue background */
.custom-check input:checked ~ .checkmark {
  background-color: #FF5B4A;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-check .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rating {
  border: none;
  text-align: center;
  width: 153px;
  margin: 0 auto;
  overflow: hidden;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 5px;
  font-size: 22px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FF6347;
}

/* hover previous stars in list */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FF6347;
}
/*# sourceMappingURL=style.css.map */