/* Roboto font styles*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
body {
  font-family: 'Roboto', sans-serif;
}

a, a:focus, a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: block;
}

/*main styles*/
.top-wrapper {
  padding: 0px 0 30px;
}

.top-wrapper .banner-image {
  text-align: center;
}

.top-wrapper .banner-image img {
  width: 100%;
}

.top-wrapper .banner-tabpanel {
  margin-top: 30px;
}

.navbar-brand {
  height: auto;
  padding: 0;
}

.navbar-brand > img {
  height: 100%;
  padding: 15px 30px;
  width: auto;
}

#menuToggle {
  position: relative;
  top: 30px;
  float: left;
  width: 45px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
   * Just a quick hamburger
   */
#menuToggle span {
  display: block;
  width: 45px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #5A3471;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(3) {
  width: 35px;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  width: 28px;
}

/* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
  width: 30px;
}

/*
   * But let's hide the middle one.
   */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

/*
   * Ohyeah and the last one should go the other direction
   */
#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
  width: 30px;
  background: #fff;
}

/*
   * Make this absolute positioned
   * at the top left of the screen
   */
#menu {
  position: absolute;
  width: 320px;
  padding: 50px 70px;
  top: -25px;
  left: -25px;
  background: #65617D;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  display: none;
  opacity: 0;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#menu li {
  margin: 30px 0px;
}

#menu li a {
  color: #F7F5F4;
  font-size: 18px;
  display: block;
}

/*
   * And let's slide it in from the left
   */
#menuToggle input:checked ~ #menu {
  left: -25px;
}

#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  display: block;
  -webkit-animation: fadein 0.5s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 0.5s;
}

.navbar-nav li a {
  font-size: 14px;
  text-transform: uppercase;
  color: #18131D;
  font-weight: 700;
}

.nav > li > a:focus, .nav > li > a:hover {
  background: none;
}

.top-btn {
  border: 2px solid #3E3EFF;
  padding: 7px 18px;
  text-transform: uppercase;
  font-size: 14px;
  color: #000;
  font-weight: 700;
  background: none;
  float: right;
  margin-left: 40px;
  margin-top: 1px;
}

/*tab styles*/
.nav-tabs {
  border-bottom: none;
}

.nav-tabs li {
  margin-right: 20px;
}

.nav-tabs li > a {
  font-size: 12px;
  font-weight: 700;
  color: #636262 !important;
  border-radius: 0;
  padding: 10px 0 !important;
  position: relative;
}

.nav-tabs li > a:hover {
  border: 1px solid transparent;
}

.nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
  background: none;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #000000 !important;
}

.nav-tabs li.active:after {
  height: 5px;
  background: #FF5B4A;
  border-radius: 20px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -5px;
  content: '';
}

.search-wrap {
  background: #fff;
  border-radius: 0px;
  margin: 40px 0;
  position: relative;
  border: 1px solid #FF6347;
}

.search-wrap input {
  border: none;
  color: #B9B8B7;
  font-size: 14px;
  width: 100%;
  vertical-align: middle;
  background: none;
  padding: 15px 20px;
}

.search-wrap input:focus {
  outline: none;
}

.search-wrap .search-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../images/search-icon.png) no-repeat center center #65617D;
  border-radius: 25px;
  vertical-align: middle;
  position: absolute;
  top: 11px;
  right: 20px;
}

.lg-title {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  font-family: 'Nunito', sans-serif;
}

.sub-txt {
  font-size: 10px;
  color: #65617D;
  position: relative;
}

.sub-txt span {
  padding: 0 5px;
  display: inline-block;
  position: relative;
}

.sub-txt span:first-child {
  padding-left: 0;
}

.sub-txt span:last-child:after {
  display: none;
}

.sub-txt span:after {
  height: 10px;
  background: #65617D;
  content: '';
  width: 1px;
  display: inline-block;
  position: absolute;
  top: 2px;
  right: -3px;
}

.amenities {
  margin-top: 60px;
}

.amenities img {
  margin-bottom: 20px;
  width: 100%;
}

.amenities .amenities-name {
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: #000;
  line-height: 16px;
}

section {
  padding: 30px 0;
}

.title-2 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  font-family: 'Nunito', sans-serif;
}

.title-2 a {
  font-weight: 400;
  font-size: 16px !important;
  color: #6C6C6C;
  font-size: 24px;
  margin-left: 20px;
}

.products-list {
  margin-top: 40px;
}

.products-list .prod-wrap {
  min-height: 145px;
  text-align: center;
  display: block;
}

.products-list .prod-wrap img {
  min-height: 130px;
  max-height: 130px;
}

.product-txt-wrap {
  text-align: center;
  margin-top: 30px;
}

.product-txt-wrap h3.prod-name {
  font-size: 19px;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  font-family: 'Nunito', sans-serif;
}

.product-txt-wrap .price {
  margin-bottom: 10px;
}

.product-txt-wrap .price .strike-price {
  font-size: 14px;
  font-style: italic;
  color: #A0A0A0;
  font-weight: 400;
  margin-right: 10px;
  text-decoration: line-through;
}

.product-txt-wrap .price span {
  font-size: 14px;
  font-weight: 700;
  color: #FF6347;
}

.product-txt-wrap .prod-desc {
  font-size: 12px;
  color: #414140;
}

/*owl carousel*/
.owl-carousel .owl-item img {
  width: auto;
  display: inline;
}

.owl-carousel {
  position: relative;
}

.owl-dots {
  position: absolute;
  top: -80px;
  right: 0;
}

.owl-theme .owl-dots .owl-dot span {
  width: 26px;
  height: 2px;
  border-radius: 11px;
  background: #E6E6E6;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #FF6347;
}

.services-list {
  margin-top: 30px;
}

.services-list li {
  text-align: center;
  padding-top: 40px;
}

.services-list li img {
  min-height: 146px;
  margin-bottom: 20px;
  max-width: 150px;
}

.services-list li a {
  display: block;
}

.services-list li .services-txt {
  font-size: 20px;
  font-weight: 700;
  color: #414140;
  display: block;
}

.label-list {
  margin: 60px 0;
}

.label-list a {
  margin-bottom: 20px;
  display: inline-block;
  border-radius: 39px;
  border: 1px solid #C3C3C3;
  padding: 10px 20px;
  color: #000000;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  margin-right: 10px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.label-list a:hover, .label-list a:focus, .label-list a.active {
  background: #F7F5F4;
}

.label-list .more-btn, .label-list .more-btn:hover, .label-list .more-btn:focus {
  background: #65617D;
  color: #fff;
}

footer {
  background: #D0CFD8;
  padding: 50px 0 20px;
}

footer div {
  text-align: center;
}

footer .col-half-offset {
  margin-left: 4.166666667%;
}

footer .footer-heading {
  font-size: 17px;
  font-weight: 700;
  color: #000;
}

footer .footer-links li {
  margin-bottom: 5px;
}

footer .footer-links a {
  font-size: 15px;
  color: #000000;
  font-weight: 400;
}

footer .social-links {
  margin: 20px 0;
}

footer .social-links a {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: middle;
}

footer .social-links .facebook {
  background-image: url(../images/facebook.png);
}

footer .social-links .whatsapp {
  background-image: url(../images/whatsapp.png);
}

footer .social-links .youtube {
  background-image: url(../images/youtube.png);
}

footer .social-links .googleplus {
  background-image: url(../images/google-plus.png);
}

footer .social-links .twitter {
  background-image: url(../images/twitter.png);
}

footer .social-links .f-like {
  background-image: url(../images/f-like.png);
  width: 71px;
  margin-left: 20px;
}

footer .social-links .f-share {
  background-image: url(../images/f-share.png);
  width: 76px;
}

footer .social-links .fb-txt {
  font-size: 13px;
  font-weight: 700;
  color: #000;
  margin-top: 20px;
  display: inline-block;
}

footer .copy-right {
  border-top: 1px solid #65617D;
  margin-top: 30px;
  text-align: center;
  font-size: 17px;
  color: #65617D;
  font-weight: 500;
  padding: 20px 0;
}

footer .copy-right .footer-img-wrap {
  display: block;
  text-align: center;
  margin-top: 20px;
}

/*@desktop*/
@media (min-width: 768px) {
  .desktop-only {
    display: block;
  }
  .mobile-only {
    display: none;
  }
  .top-wrapper {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#f7f5f4), color-stop(#faeae2), color-stop(#fcded1), color-stop(#fed3c0), color-stop(#ffb99d), color-stop(#ff9d7d), to(#ff7e62));
    background-image: linear-gradient(to right bottom, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #f7f5f4, #faeae2, #fcded1, #fed3c0, #ffb99d, #ff9d7d, #ff7e62);
  }
  #menu {
    width: 400px;
  }
  .navbar {
    margin-bottom: 30px;
  }
  .navbar-collapse {
    padding-right: 0;
    padding: 20px 0;
  }
  .nav > li > a {
    padding: 10px 20px;
  }
  .nav-tabs li > a {
    font-size: 15px;
  }
  .banner-image {
    text-align: right;
  }
  .search-wrap {
    border: none;
    border-radius: 22px;
  }
  .lg-title {
    font-size: 40px;
    text-align: left;
  }
  .sub-txt {
    font-size: 18px;
  }
  .sub-txt span {
    padding: 0 20px;
  }
  .sub-txt span:after {
    height: 17px;
    top: 3px;
    right: -5px;
  }
  .amenities img {
    min-height: 110px;
    width: auto;
  }
  .amenities .amenities-name {
    font-size: 17px;
  }
  .title-2 {
    font-size: 28px;
  }
  .title-2 a {
    font-size: 22px !important;
  }
  .services-list li {
    height: 300px;
  }
  .services-list li:nth-child(even) {
    background: #FAFAFA;
    border-right: 1px solid #D1CCCC;
  }
  .services-list li:nth-child(odd) {
    border-right: 1px solid #D1CCCC;
  }
  .services-list li:nth-child(1), .services-list li:nth-child(2), .services-list li:nth-child(3) {
    border-bottom: 1px solid #D1CCCC;
  }
  .services-list li:nth-child(3), .services-list li:nth-child(6) {
    border-right: none;
  }
  .services-list li img {
    width: auto;
    max-width: inherit;
    margin-bottom: 40px;
  }
  .prod-wrap {
    background: url(../images/product-bg.png) no-repeat center center;
  }
  footer div {
    text-align: left;
  }
  footer .fb-txt {
    margin-top: 0;
  }
  footer .copy-right {
    overflow: hidden;
  }
  footer .copy-right .footer-img-wrap {
    float: right;
    text-align: center;
    margin-top: -10px;
  }
}

/*@tab*/
@media (min-width: 768px) and (max-width: 991px) {
  .services-list li img {
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */